@font-face {
  font-family: yofont;
  src: url("/shell/images/iconfont/iconfont.woff") format("woff"), url("/shell/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/shell/images/iconfont/iconfont-1.woff") format("woff"), url("/shell/images/iconfont/iconfont-1.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/shell/images/iconfont/iconfont-2.woff") format("woff"), url("/shell/images/iconfont/iconfont-2.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/shell/images/iconfont/iconfont-3.woff") format("woff"), url("/shell/images/iconfont/iconfont-3.ttf") format("truetype");
}
